<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enchanter</title>
  {{ wizard.form.media }}
  <script src = "{% static 'gigs/js/creategigs.js' %}"></script>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row py-4">
      <div class="col">
        <div class="text-center">
        {% if wizard.steps.step1 == 1 %}
          <h1>Create Gig</h1>
          <p class="lead">Enter the Details of your Gig</p>
        {% elif wizard.steps.step1 == 2 %}
          <h1>Create Basic Packages</h1>
        {% elif wizard.steps.step1 == 3 %}
          <h1>Create Standared Packages</h1>
        {% else %}
          <h1>Create Premium Packages</h1>
        {% endif %}
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
      
        <form action="" method="post" id="registration">
        {% csrf_token %}
          <nav>
            <div class="nav nav-pills nav-fill" id="nav-tab" role="tablist">
              <a class="nav-link active" id="step1-tab" data-bs-toggle="tab" href="#step1">{{ wizard.steps.step1 }} of {{ wizard.steps.count }}</a>
            </div>
          </nav>
          <table class="tab-content py-4" id = "flexid">
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
              {{ wizard.form.management_form }}
              {% for form in wizard.form.forms %}
                {{ form.as_ul }}
              {% endfor %}
            {% else %}
              {{ wizard.form }}
            {% endif %}
          </table>
          <div class="row justify-content-between">
          {% if wizard.steps.prev %}
            <div class="col-auto" id ="Col_id">
              <button id="Button_Id_Fs" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "First step" %}</button>
              <button  id="Button_Id_Pv" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Prev step" %}</button>
            </div>
            {% endif %}
          </div>
          <input id="Button_Id" type="submit" value="{% trans 'Next' %}"/>
        </form>
      </div>
    </div>
  </div>

  <!-- JavaScript and dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <!-- JavaScript for validations only -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
  <!-- Our script! :) -->
  <script src="{% static 'gigs/js/enchanter.js' %}"></script>
  <script>
    var registrationForm = $('#registration');
    var formValidate = registrationForm.validate({
      errorClass: 'is-invalid',
      errorPlacement: () => false
    });

    const wizard = new Enchanter('registration', {}, {
      onNext: () => {
        if (!registrationForm.valid()) {
          formValidate.focusInvalid();
          return false;
        }
      }
    });
  </script>
</body>
</html>
